/*------------------------------------------------------------------
[Table of contents]

1. Contact Actions / .contact-actions
2. Contact Map / .contact-map
3. Reponsive Layout / MEDIA QUERIES
-------------------------------------------------------------------*/
.contact-actions {
  @include floatfix;
  position: relative;

  .contact-form {
    float: right;
    width: 500px;
    min-height: 608px;
    padding-top: 76px;

    .button {
      width: 240px;
    }
  }
}

.contact-map {
  width: 50%;
  height: 608px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: $local-max-index;
}

// MEDIA QUERIES
@media screen and (max-width: 1260px) {
  .contact-actions {
    .contact-form {
      float: none;
      width: 100%;
      padding: 30px 0 100px;

      .button {
        margin: 0 auto;
      }
    }
  }

  .contact-map {
    width: 100%;
    position: static;
  }
}
